<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>CONSIGNMENT</title>
</head>
<body>
<div class="container">

    <h1 class="text-center">Consignments</h1>
    <br/><br/>

    <a href="/menu" class="btn-link">Menu</a>
    <br/>

    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <table class="table" width="40%">
            <thead>
            <tr>
                <th>Manufacure date</th>
                <th>Product</th>
                <th>Manufacture</th>
                <th>Identificator</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="con: ${cons}">
                <td th:text="${con.manufactureDate}"></td>
                <td th:text="${con.product.name}"></td>
                <td th:text="${con.manufacture.name}"></td>
                <td th:text="${preffix} + '/' + ${con.suffix}"></td>
                <td>
                    <form th:action="@{/getQrcode}" method="post">
                        <input type="hidden" name="prefix" th:value="${preffix}"/>
                        <input type="hidden" name="suffix" th:value="${con.suffix}"/>
                        <input class="btn" type="submit" value="Get QR Code"/>
                    </form>
                </td>
                <td>
                    <form th:action="@{/deleteConsignment}" method="post">
                        <input type="hidden" name="id" th:value="${con.id}"/>
                        <input class="btn" type="submit" value="Delete"/>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="clearfix visible-lg-block"></div>

    <br/>
    <h4 class="text-center">Add new consignment</h4>

    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <form th:action="@{/saveConsignment}" method="post">
            <table class="table" width="40%">
                <thead>
                <tr>
                    <th>Manufacure date</th>
                    <th>Product</th>
                    <th>Manufacture</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <label>
                            <input type="date" name="manufactureDate" required="required"/>
                        </label>
                    </td>
                    <td>
                        <label>
                            <select name="product" required="required">
                                <option th:each="prod : ${prods}" th:value="${prod.id}" th:text="${prod.name}"></option>
                            </select>
                        </label>
                    </td>
                    <td>
                        <label>
                            <select name="manufacture" required="required">
                                <option th:each="man : ${mans}" th:value="${man.id}" th:text="${man.name}"></option>
                            </select>
                        </label>
                    </td>
                    <td>
                        <input class="btn" type="submit" value="Save"/>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
    <div class="clearfix visible-lg-block"></div>

</div>

<link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"/>
</body>
</html>