<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>INFO</title>
</head>
<body>

<div class="container">

    <div style="text-align: right; margin-top: 2%;">
        <a href="/login" class="btn btn-info">LOGIN</a>
    </div>

    <h1 class="text-center">PRODUCTS INFO</h1>
    <br/><br/>

    <div class="row">
        <form method="get" th:action="@{/search}">
            <div class="col-lg-2"></div>
            <label class="col-lg-8 form-group">
                <input type="text" name="identificator" class="form-control"
                       placeholder="enter da identificator" required="required"/>
            </label>
            <div class="col-lg-2 form-group">
                <input type="submit" class="btn btn-default" value="search"/>
            </div>
        </form>
    </div>

    <div th:if="${company} != null" class="text-info" style="margin-top: 5%; font-size: 20px;">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-4 text-right"><strong>Company:</strong></div>
            <div class="col-lg-4" th:text="${company.name}"></div>
            <div class="clearfix"></div>
        </div>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-4 text-right"><strong>Product:</strong></div>
            <div class="col-lg-4" th:text="${consignment.product.name}"></div>
            <div class="clearfix"></div>
        </div>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-4 text-right"><strong>Manufacture date:</strong></div>
            <div class="col-lg-4" th:text="${consignment.manufactureDate}"></div>
            <div class="clearfix"></div>
        </div>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-4 text-right"><strong>Manufacture address:</strong></div>
            <div class="col-lg-4" th:text="${consignment.manufacture.address}"></div>
            <div class="clearfix"></div>
        </div>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-4 text-right"><strong>Product info</strong></div>
            <div class="col-lg-4" th:text="${consignment.product.info}"></div>
            <div class="clearfix"></div>
        </div>
    </div>

</div>


<link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"/>
</body>
</html>